<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Compare Stocks</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav class="navbar">

        <h2 class="logo">
            StockStalk
        </h2>

        <div class="nav-links">

            <a href="/">Home</a>

            <a href="/compare">
                Compare Stocks
            </a>

            <a href="/solo">
                Individual Analysis
            </a>

        </div>

    </nav>
    


  <section class="compare-hero">

    <div class="compare-left">

        <h1>
            Compare Market Performance
        </h1>

        <p>
            Analyze multiple stocks side-by-side using
            interactive growth charts, performance insights,
            and normalized comparisons designed to help
            investors identify trends and outperforming companies.
        </p>

        <div class="compare-features">

            <div class="mini-feature">
                📈 Relative Growth Tracking
            </div>

            <div class="mini-feature">
                📊 Interactive Analytics
            </div>

            <div class="mini-feature">
                ⚡ Real-Time Market Data
            </div>

        </div>

    </div>

    <div class="compare-right">

        <div class="compare-form-card">

            <h2>
                Compare Stocks
            </h2>

            <form method="post">

                <input type="text"
                       name="ticker"
                       placeholder="Enter Stock Tickers (AAPL,TSLA,GOOGL)">

                <input type="number"
                       name="days"
                       placeholder="Enter Number Of Days">

                <button type="submit">

                    Analyse

                </button>

            </form>

        </div>

    </div>

</section>

</body>

</html>